<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.together">

    <uses-permission android:name="android.permission.INTERNET" /> //인터넷 권한을 허용
    <uses-permission android:name="android.permission.CAMERA" /> //카메라 권한을 허용
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="투게더"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Loading" android:label="투게더">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".Group.Together_search" android:label="투게더 검색"/>
        <activity android:name=".Group.make_group" android:label="그룹 만들기"/>
        <activity android:name=".Group.look_group" android:label="그룹 자세히 보기"/>
        <activity android:name=".Calendar.Calendar_note" android:label="일정관리"/>
        <activity android:name=".Group.Group_setting" android:label="그룹 내용 설정"/>
        <activity android:name=".Profile.pro_profile" android:label="프로필"/>
        <activity android:name=".Profile.pro_sound" android:label="백색소음"/>
        <activity android:name=".Profile.pro_item" android:label="상점"/>
        <activity android:name=".Profile.pro_announcement" android:label="공지사항"/>
        <activity android:name=".Profile.pro_version" android:label="버전"/>
        <activity android:name=".Profile.pro_edit_profile" android:label="프로필수정"/>
        <activity android:name=".Group.chat_room" android:label="채팅"/>
        <activity android:name=".Tab_Navi" android:label=""/>
        <activity android:name=".User_Name" android:label="이름 설정"/>
        <service android:name=".Profile.MusicService" android:label="음악 서비스"/>
        <activity android:name=".FdActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="집중모드"/>//openCV 관련
        <activity android:name=".Timer.Study_Timer"/>

    </application>
    /*openCV 관련 시작*/
    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />



    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
    /*openCV 관련 끝*/
</manifest>